<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>ZestADZ Analytics</title>
<%= stylesheet_link_tag "style"%>
</head>
<body>
<table width="101%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" class="header_bg"><table width="1004" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15%" align="left" valign="TOP"><a href="/login/index"><img src="/images/zestadz_analytics_logo.JPG" border="0" /></a></td>
        <td width="85%" align="right" valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="24" align="right"><a href="/login">Login</a> &nbsp;</td>
            </tr>
            <tr>
              <td height="5"></td>
            </tr>
            <tr>
              <td height="30" align="right"><a href="http://zestadz.com"><img src="/images/analytics_images/btn_zestadz.JPG" hspace="5" vspace="5" border="0" /></a></td>
            </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center"><table width="1004" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><%=yield%></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" class="footer_bg"><table width="1004" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="25" align="center" valign="middle" class="footer_text"><a href="/login">Home</a> | <a href="/static/tou">Terms of Use</a>  | <a href="/static/privacy">Privacy Policy</a> | <a href="/static/contactus">Contact Us</a></td>
      </tr>
      <tr>
        <td height="25" align="center" valign="middle"><span class="footer_text">Copyright &copy; 2010 </span><a href="http://www.zestadz.com" target="_blank">ZestADZ</a><span class="footer_text">. All rights reserved</span> </td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
