<HTML>
<HEAD>
	<TITLE>
	FusionCharts - Array Example using Stacked Column 3D Chart
	</TITLE>
	<%
=begin  
	'You need to include the following JS file, if you intend to embed the chart using JavaScript.
	'Embedding using JavaScripts avoids the "Click to Activate..." issue in Internet Explorer
	'When you make your own charts, make sure that the path to this JS file is correct. Else, you would get JavaScript errors.
=end  
	%>	
	<SCRIPT LANGUAGE="Javascript" SRC="/FusionCharts/FusionCharts.js"></SCRIPT>
	<style type="text/css">
	<!--
	body {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
	}
	-->
	</style>
</HEAD>
	<%
=begin  
	'We've included /Includes/FusionCharts, which contains functions
	'to help us easily embed the charts.
=end  
	%>

<BODY>

<CENTER>
<h2>FusionCharts Examples</h2>
<h4>Plotting Stacked Chart from data contained in Array.</h4>
<BR><BR>
<%= @chart%>
<br><br>
<a href='/NoChart.html' target="_blank">Unable to see the chart above?</a>
</CENTER>
</BODY>
</HTML>