<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Pragma" content="no-cache" />
<title>ZestADZ Analytics</title>
<%bundle :name => "login_home" do%>
<%end%>
<link href="/stylesheets/screen_slideshow.css" rel="stylesheet" type="text/css" />
<script src="/javascripts/screen_slideshow.js" language="javascript" type="text/javascript"></script>
<script src="/javascripts/zestscript.js"></script>
<link href="/stylesheets/static.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body OnLoad="document.form.user_username.focus();">
<!-- header section -->
<div id="header_bg"><table align="center" width="1004" border="0" cellpadding="0" cellspacing="0" height="68">
  <tr>
    <td width="165" valign="TOP"><a href="/login/index"><img src="/images/zestadz_analtyics_logo.gif" alt="ZestADZ" title="ZestADZ" name="Logo" border="0" id="Logo" /></a></td>
    <td width="839" align="right" valign="BOTTOM"><a href="http://www.zestadz.com"><img src="/images/analytics_images/btn_zestadz.JPG" hspace="5" vspace="2" align="bottom" border="0" /></a></td>
  </tr>
</table>
</div>
<div class="space"></div>
<!-- centre section -->

<div align="center">
<div id="main_content">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td  valign="middle" class="analytic_hd_bg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="91%" align="left" valign="TOP"><table width="100%" border="0" cellspacing="4" cellpadding="4">
                  <tr>
                    <td width="2%">&nbsp;</td>
                    <td width="98%"><span class="analytics_title">Introducing ZestADZ Analytics - Deep insight into your mobile data</span></td>
                  </tr>
                  <tr>
                    <td class="analytics_hd_text">&nbsp;</td>
                    <td class="analytics_hd_text">ZestADZ Analytics is a FREE mobile analytics tool that enables mobile publishers and advertisers to extract important metrics out of their mobile site traffic or mobile campaigns<br />
                                <br />
                      ZestADZ Analytics is currently in private beta. Request for an invitation to see how ZestADZ Analytics works and to see how it can help you.</td>
                  </tr>
                  <tr>
                    <td class="analytics_hd_text">&nbsp;</td>
                    <td class="analytics_hd_text"><a href="/login/request_access" border="0" ><img src="/images/analytics_images/btn_reqaninvite.jpg" border="0"></a>&nbsp;</td>
                  </tr>
                </table></td>
                <td width="9%" valign="top" align="CENTER"><div class="contentContainer">
                  <div class="imageSlideshowHolder" id="imageSlideshowHolder"> <img src="/images/analytics_images/slide1.gif" alt="slide1" /> <img src="/images/analytics_images/slide2.gif" alt="slide2" /> <img src="/images/analytics_images/slide3.gif" alt="slide3" /> <img src="/images/analytics_images/slide4.gif" alt="slide4" /> <img src="/images/analytics_images/slide5.gif" alt="slide4" /> </div>
                </div></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="15"></td>
          </tr>
          <tr>
            <td height="15"><table width="100%" border="0" cellspacing="0" cellpadding="10" class="section_bg">
              <tr>
                <td width="35%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="10"><span class="ana_heading"><span class="style49 style98">Advertisers</span></span></td>
                  </tr>
                  <tr>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td class="subheading1" height="20">Get insight into the execution of your mobile campaigns </td>
                  </tr>
                  <tr>
                    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                      <tr>
                        <td width="7%" align="LEFT" valign="baseline"><img src="/images/static/bull.gif" width="5" height="5" hspace="5" vspace="5" /></td>
                        <td class="body_content" width="93%" valign="top" >Detailed campaign statistics </td>
                      </tr>
                      <tr>
                        <td align="LEFT" valign="baseline"><img src="/images/static/bull.gif" width="5" height="5" hspace="5" vspace="5" /></td>
                        <td  valign="top"><span class="body_content">Region-wise traffic breakdown </span></td>
                      </tr>
                      <tr>
                        <td align="LEFT" valign="baseline"><img src="/images/static/bull.gif" width="5" height="5" hspace="5" vspace="5" /></td>
                        <td  valign="top"><span class="body_content">Carrier breakdown </span></td>
                      </tr>
                      <tr>
                        <td align="LEFT" valign="baseline"><img src="/images/static/bull.gif" width="5" height="5" hspace="5" vspace="5" /></td>
                        <td  valign="top"><span class="body_content">Device and Device property data </span></td>
                      </tr>
                      <tr>
                        <td align="LEFT"><img src="/images/static/bull.gif" width="5" height="5" hspace="5" vspace="5" /></td>
                        <td ><span class="body_content">Visitor data &amp; much more </span></td>
                      </tr>
                      
                    </table></td>
                  </tr>
                  <tr>
                    <td valign="BOTTOM" height="30"><a href="/static/advertiser_presentation">View Advertiser Presentation </a></td>
                  </tr>
                </table></td>
                <td width="35%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="10"><span class="ana_heading"><span class="style45 style98">Publishers</span></span></td>
                  </tr>
                  <tr>
                    <td height="10"></td>
                  </tr>
                  <tr>
                    <td height="25" class="subheading1">Get to know your traffic better </td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="5">
                      <tr>
                        <td height="18" align="LEFT" valign="baseline"><img src="/images/static/bull.gif" width="5" height="5" hspace="5" vspace="5" /></td>
                        <td class="body_content" height="18" valign="top" align="LEFT">Detailed information on your traffic and <br />
                          earnings </td>
                      </tr>
                      <tr>
                        <td height="18" align="LEFT" valign="baseline"><img src="/images/static/bull.gif" width="5" height="5" hspace="5" vspace="5" /></td>
                        <td width="93%" height="18" valign="top" align="LEFT"><span class="body_content">Region-wise breakdown of traffic </span></td>
                      </tr>
                      <tr>
                        <td height="18" align="LEFT" valign="baseline"><img src="/images/static/bull.gif" width="5" height="5" hspace="5" vspace="5" /></td>
                        <td height="18" valign="top" align="LEFT"><span class="body_content">Site URL traffic data </span></td>
                      </tr>
                      <tr>
                        <td height="18" align="LEFT" valign="baseline"><img src="/images/static/bull.gif" width="5" height="5" hspace="5" vspace="5" /></td>
                        <td height="18" valign="top" align="LEFT"><span class="body_content">Device and carrier breakdown </span></td>
                      </tr>
                      <tr>
                        <td height="18" align="LEFT" valign="baseline"><img src="/images/static/bull.gif" width="5" height="5" hspace="5" vspace="5" /></td>
                        <td height="18" valign="top" align="LEFT"><span class="body_content">Visitor data &amp; much more </span></td>
                      </tr>
                      
                    </table></td>
                  </tr>
                  <tr>
                    <td height="35" valign="BOTTOM"><a href="/static/publisher_presentation">View Publisher Presentation </a></td>
                  </tr>
                </table></td>
                <td width="35%" align="left" valign="top"><form name="form" class="formtag" action="/login/memberauthen?id=<%=@user%>" method="post" onSubmit="storeFormValues(this)">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="35%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td bgcolor="#cccccc"><table width="100%" border="0" cellspacing="1" cellpadding="0">
                            <tr>
                              <td bgcolor="#f9f9f9"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td width="3%" align="left" valign="middle">&nbsp;</td>
                                  <td width="97%" height="30" align="left" valign="middle"><span class="body_content"><strong>&nbsp;Login</strong></span></td>
                                </tr>
                                <tr>
                                  <td bgcolor="#F9F9F9" valign="top">&nbsp;</td>
                                  <td bgcolor="#F9F9F9" height="180" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="5">
                                    <tr >
                                      <td colspan="2"><span class="err_text">
                                        <%if flash[:notice]%>
                                        <%=flash[:notice] %>
                                        <% end %>
                                        <%if flash[:message]%>
                                        <%=flash[:message] %>
                                        <% end %>
                                      </span> </td>
                                    </tr>
                                    <tr>
                                      <td width="27%" height="40">Username</td>
                                      <td width="73%" height="40"><%= text_field 'user', 'username',:id=>'user_username',:maxlength=>'32',:size=>'20',:class=>'Forms'%> </td>
                                    </tr>
                                    <tr>
                                      <td height="40">Password</td>
                                      <td height="40"><%= password_field 'user', 'password',:maxlength=>'20' , :id=>'pass', :class=>'Forms'%> </td>
                                    </tr>
                                    <tr>
                                      <td height="30" colspan="2" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                          <td width="9%" height="40"><input  id="checkMe" name="checkMe" type="checkbox" />
                                          </td>
                                          <td width="43%" height="40">&nbsp;&nbsp;
                                                                <label for="checkMe">Remember Me</label></td>
                                          <td width="48%" height="40" align="left" valign="middle"><table width="100%" border="0" cellpadding="0" cellspacing="0" >
                                            <tr>
                                              <td align="left"><input type="submit" name="SIGNIN" value="Sign in" /></td>
                                            </tr>
                                          </table></td>
                                        </tr>
                                      </table></td>
                                    </tr>
                                  </table></td>
                                </tr>
                              </table></td>
                            </tr>
                          </table></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table>
                </form></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="15"></td>
          </tr>
        </table>
</div>


</div>

<!-- footer section -->
<div id="footer_bg" align="center">
<div class="footer_text"><a href="/login/index">Home</a> | <a href="/static/tou">Terms of Use</a> | <a href="/static/privacy">Privacy Policy</a> | <a href="/static/contactus">Contact Us</a></div>
<div class="footer_text">Copyright &copy; 2010 <a href="http://www.zestadz.com" target="_blank">ZestADZ</a>. All rights reserved </div>
</div>
</body>
</html>
<script type="text/javascript">
initImageGallery('imageSlideshowHolder');
</script>
